.sign-up {
    display: flex;
    flex-direction: column;
    // 30% of View Width (vw)
    // width: 30vw;  
    width: 380px; 

    .title {
// 10 pixels top to bottom , 0 pixels left and right
      margin: 10px 0;

    }
}